/*Parallax*/

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
  /* ... parallax styles ... */
  .parallax {
    scroll-behavior: smooth;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .parallax__layer--base {
    transform: translateZ(0);
    box-sizing: border-box;
    padding-top: 20px;
  }

  .parallax__layer--back {
    transform: translateZ(-1px) scale(2);
  }

}

/*Groups*/

#group1 {
  z-index: 0;
}

#group2, #group3, #group4 {
  z-index: 2;
}

#group2 .parallax__layer {
  background-color: #fff;
}

#group3 .overlay {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#group3 .overlay:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#group3 .overlay:hover {
  opacity: 1;
}

#group4 .parallax__layer {
  background-color: #222;
}

/*HTML*/
.nav-bar a,
.projects-bar span,
.home--text_container .description,
.home--text_container .career,
.about--text_container,
.work-msg,
.modal,
.contact-links a,
address{
  font-family: 'Open Sans Condensed', sans-serif;
}

.home--text_container .title {
  font-family: 'Fira Mono', monospace;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.hide {
  display: none;
}

.margin-0-auto {
  margin: 0 auto;
}

.contact-links a,
address {
  font-style: normal;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: color .25s ease-in;
}

.contact-links i {
  color: white;
  margin-right: 8px;
}

.active {
  color: #999 !important;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {

  .parallax__group {
    height: 100%
  }

  #group2 {
    height: 200vh;
  }

  #group3 {
    height: 80vh;
    transition: height .37s ease-in-out;
  }

  #group4 {
    height: 20vh;
  }

  /*Groups*/
  #group1 .parallax__layer--back {
    background-image: url('./images/home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  #group2 .parallax__layer--base {
    /*padding: 30px 0 0 10px;*/
    height: 100%;
  }

  #group3 .parallax__layer--base {
    background-image: url('./images/works2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
  }

  /*HTML*/

  .nav-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    height: 3vh;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.8);
    z-index: 1;
    color: #ddd;
    font-size: 5vh;
    padding: 15px;
    transition: height .37s ease-in-out;
  }

  .nav-bar a.scroll-item {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 45px;
    cursor: pointer;
    transition: color .03s ease-in;
    text-shadow: 2px 2px 4px #000;
  }

  .projects-bar {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    overflow: auto;
    position: relative;
    top: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-left: 20px;
    z-index: 1;
    color: #222;
    background-color: transparent;
    font-size: 5vh;
    font-weight: bold;
    transition: top .37s ease-in-out;
  }

  .project-trigger {
    text-shadow: 2px 2px 4px #999;
    margin: 5px 0;
  }

  .nav-bar a.scroll-item {
    display: none;
  }

  #nav-toggle {
    z-index: 30;
    position: absolute;
    top: 23px;
    right: 45px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  #nav-toggle.active-ham span {
    background-color: transparent;
  }
  #nav-toggle.active-ham span:before, #nav-toggle.active-ham span:after {
    top: 0;
  }
  #nav-toggle.active-ham span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active-ham span:after {
    transform: rotate(-45deg);
  }

  /*.nav-bar i {
  display: inline-block;
  margin-right: 30px;
  }*/

  .home--text_container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
  }

  .home--text_container .title {
    text-shadow: 1px 1px 5px #999;
    color: black;
    font-size: 8vh;
    font-weight: bold;
  }

  .home--text_container .description {
    text-shadow: 1px 1px 5px #999;
    color: black;
    font-size: 4.4vh;
  }

  .about--text_container {
    box-sizing: border-box;
    width: 100%;
    /*height: 50%;*/
    padding: 15px 20px;
    overflow: auto;
  }

  .about--text_container .title,
  .work-title {
    font-size: 8vh;
    text-align: center;
  }

  .work-title {
    text-shadow: 3px 3px 5px #222;
  }

  .about--text_container .description {
    font-size: 3.1vh;
    text-align: justify;
  }

  .about--img_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    box-sizing: border-box;
    width: 100%;
    /*height: 50%;*/
    padding: 10px 5px;
    /*overflow: auto;*/
  }

  .about--img_container img {
    height: 32%;
    width: auto;
  }

  .work-msg {
    position: absolute;
    top: 2%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
  }
  .work-msg .work-description {
    display: none;
  }

  .modal {
    position: relative;
    top: 35px;
    width: 90%;
    height: 55%;
    padding-bottom: 20px;
    background-color: transparent;
    z-index: 4;
    box-sizing: border-box;
    color: white;
  }

  .title-line {
    display: none;
  }

  div.project-container {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .project-description {
    text-align: justify;
    margin-bottom: 20px;
  }

  div.project-img {
    width: 100%;
    -webkit-filter: none;
    filter: none;
  }

  img.fit-img {
    width: 100%;
    -webkit-filter: none;
    filter: none;
  }

  .contact-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-links i {
    font-size: 3vh;
  }

  .contact-links a,
  address {
    margin: 5px 10px;
    font-size: 2.8vh;
  }

  #mail-link {
    margin-left: 0;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  /*Goups*/

  #group1 .parallax__layer--back {
    background-image: url('./images/foto-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  #group3 .parallax__layer--base {
    background-image: url('./images/works.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
  }

  #group4 {
    height: 20vh;
  }

  /*HTML*/

  .nav-bar, .projects-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 3vh;
    width: 100%;
    /*background-color: #222;*/
    background-color: transparent;
    z-index: 1;
    color: #ddd;
    font-size: 2em;
    padding: 15px;
    transition: background-color .27s ease-in-out;
  }

  .projects-bar {
    position: relative;
    top: 92%;
    justify-content: center;
    background-color: transparent;
    align-self: flex-end;
  }

  .nav-bar a.scroll-item,
  .projects-bar span {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 45px;
    cursor: pointer;
    transition: color .03s ease-in;
    text-shadow: 2px 2px 4px #000;
  }

  .nav-bar a:hover,
  .projects-bar span:hover {
    color: #999;
  }

  /*.nav-bar i {
  display: none
  }*/

  #nav-toggle {
    display: none
  }

  .home--text_container {
    position: absolute;
    top: 20%;
    left: 7%;
  }

  .home--text_container .title {
    text-shadow: 1px 1px 5px #999;
    color: black;
    font-size: 55px;
    font-weight: bold;
  }

  .home--text_container .description {
    text-shadow: 1px 1px 5px #999;
    color: black;
    font-size: 45px;
  }

  /*.home--text_container .career {
  text-shadow: 1px 1px 5px #999;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 565px;
  }*/

  .about--container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;
  }

  .about--text_container {
    box-sizing: border-box;
    width: 60%;
    padding: 3% 2% 2% 7%;
    /*overflow: auto;*/
  }

  .modal .title-line {
    height: 10%;
    overflow: hidden;
    font-size: 45px;
  }
  .about--text_container .title,
  .work-title {
    font-size: 65px;
  }

  .about--text_container .title {
    height: 15%;
    overflow: hidden;
  }

  .about--text_container .title:after,
  .modal .title:after {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 55%;
    margin: 0 13px;
    transform: translateY(-23px);
  }

  .modal .title:after {
    border-top-color: white;
      transform: translateY(-16px);
  }

  .about--text_container .description {
    box-sizing: border-box;
    height: 85%;
    padding: 20px;
    font-size: 27px;
    text-align: justify;
    overflow: auto;
  }

  .about--img_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    width: 40%;
    height: 100%;
  }

  .about--img_container img {
    width: 90%;
    height: auto;
  }

  img:first-child {
    margin-top: 20px;
  }

  .work-msg {
    position: absolute;
    top: 6%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .work-msg .work-description {
    font-size: 25px;
    text-shadow: 1px 1px 2px #222;
    text-align: center;
  }

  .modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    background-color: transparent;
    z-index: 4;
    box-sizing: border-box;
    padding: 3% 7% 2%;
    color: white;
  }

  div.project-container {
    width: 70%;
    height: 90%;
    overflow: auto;
  }

  div.project-img {
    width: 100%;
    text-align: center;
    min-width: 300px;
    -webkit-filter: none;
    filter: none;
  }

  img.fit-img {
    width: 80%;
    -webkit-filter: none;
    filter: none;
  }

  .contact-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact-links i {
    font-size: 40px;
  }

  .contact-links a,
  address {
    font-size: 20px;
  }

  .contact-links i {
    transition: all .25s ease-in-out;
  }

  .contact-links a:hover {
    color: #999;
    transform: scale(1.1);
  }

}
